./vsr-nlp-env/
vsr-nlp-env
data/datasets/*
data/datasets/**
data/*
data/**
experiments/**
src/**/__pycache__/**
src/**/*.pyc
src/training/__pycache__/train_lipreading.cpython-310.pyc
src/models/__pycache__/backbones.cpython-310.pyc
src/data/__pycache__/data_loader.cpython-310.pyc
experiments/checkpoints/lipreading_transformer_epoch1.pt
experiments/checkpoints/lipreading_transformer_epoch2.pt
experiments/checkpoints/lipreading_transformer_epoch3.pt