numpy
pandas
opencv-python # for reading and writing video frames
dlib #for face detection
face-recognition #Python wrapper around dlib
opencv-python-headless
matplotlib
tensorflow
torch
torchvision
torchaudio
mediapipe
transformers
librosa
spacy
sentencepiece
tqdm
pydub